// variables

$primary: #334d68;
$ghost: #ccc;
$fullWidth: 100%;
$borderColor: #435b74;
$width: 700px;
$maxWidth: 80%;
$buttonHover: #3e628a;
$boxShadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
$authLinks: #008cff;
$mainPadding: 3rem 0;

// mixins

@mixin transition($property) {
  -webkit-transition: $property;
  -o-transition: $property;
  -moz-transition: $property;
  transition: $property;
}
